body {
    background-image: url("images/container_bg.png") ;
    width: fixed;
    
    


}
.pokedex-logo .logo{
    position: absolute;
    z-index: -1;
    margin-left: 18cm;
    margin-right: 15cm;
    width : 35%;
} 
    
 .pokedex-logo .pokball{
    position: relative;
    z-index: 1;
    margin-left: 27cm;
    margin-right: 10cm;
    width:90px;
    top:4cm;
   
    
    
    }

#poke-cards {
    display :grid ;
    grid-template-columns: repeat(4, 1fr);
    position :relative;
    top: 7cm;
    margin-left: 12cm;
    margin-right: 6cm;
    border-radius: 8%;
    
    
}



#poke-cards :hover{
    transform: scale(1.1);
}
/*#poke-cards .bulbasaur {
    
    
    background:#61f9be;
    border-radius: 8%;
    width: 230px;
    height: 350px;
}*/


#poke-cards  .pokemon-number{
    color: gray;

}
#poke-cards  .pokemon-name{
    font-weight: bold;


}
#poke-cards .bulbasaur .pokemon-type.plant{
    background-color: green;
    border-radius: 15%;
    

}
#poke-cards .bulbasaur .pokemon-type.poison{
    background-color: purple;
    border-radius: 15%;

}




     
       
    
    
    
    
    



